$span-transition : font-size 0.7s ease-out 0s, color 0.7s ease 0s;
$colors: (cBlue : #1183CCFF, cWhite : #e5c8c2, cDescription-section: #C4CBCEFF,
          cRed : #e72a2a, cYellow : #d5ac20, cBlack : #1f1e1e);
@font-face {
  font-family: main-font;
  src: url("../fonts/Raleway-Regular.ttf");
}
@font-face {
  font-family: main-bold-font;
  src: url("../fonts/Raleway-Bold.ttf");
}
@font-face {
  font-family: main-description-font;
  src: url("../fonts/Source_Code_Pro/SourceCodePro-Regular.ttf");
}

* {
  font-family: main-font, sans-serif;
}

/*
* Below pseudo selector helps us to design the color
* of a selected text.
 */
::selection {
  color: lighten(map-get($colors, cBlue), 25%);
  background: lighten(map-get($colors, cBlack), 15%);
}

html, body {
  padding: 0; margin: 0;
}

/*
* all of h2s are topics of sections so we want them to
* stay in the middle top.
 */
h2 {
  margin-top: 0;
  text-align: center;
  font-family: main-bold-font, sans-serif;
}
p {
  margin: {
    bottom: 0;
    left: 20px;
  }
  font-family: main-description-font, sans-serif;
  line-height: 70px;
}
section.description-section {
  margin: 0;
  overflow: hidden;
  padding-bottom: 30px;
  font-size: 1.7em;
  letter-spacing: 5px;
  padding: {
    top: 20px;
  }
  text-indent: 35px;
  cursor: url("../cursors/osu-2/3rd.cur"), default;
}
section.light-section {
  background: {
    color: map-get($colors, cDescription-section);
  }
}
section.dark-section{
  color: map-get($colors, cDescription-section);
  background:{
    color: map-get($colors, cBlack);
  }
}

.spans {
  opacity: 1;
  font-size: 40px;
  line-height: 50px;
}

/* Below class is here to help us set the pictures
 * in the 'Parallax' way.
 * it does that by 'background-attachment : fixed'
 * it has to be relative because text divs are
 * absolute.
 */
.images {
  opacity: 0.7;
  width: 100%;
  margin: 0;
  overflow: hidden;
  cursor: url("../cursors/osu-2/1st.cur"), default;
  background-size: cover;
  position: relative;
  background: {
    attachment: fixed;
    repeat: no-repeat;
    position: center;
  }
}
.image-section-1-text, .image-section-3-text,
.image-section-2-text, .image-section-4-text {
  text-align: center;
  font-size: 35px;
  position: absolute;
  top: 50%;
  left: 41.6%;
  width: 320px;
  transition: background-color 1s ease-in 0s, border-bottom-width 0.5s ease-in 0s,
  border-bottom-style 1s ease-in 0s, border-bottom-color 0.7s ease-in-out 0s,
  border-radius 0.5s cubic-bezier(0.21, 0.93, 0.6, 1.54) 0s;
  border: {
    color: map-get($colors, cYellow);
    radius: 7px;
    width: 0;
  }
  cursor: url("../cursors/osu-2/2nd.cur"), default;
}
.main-image, .image-section-1 {
  height: 100vh;
  background-image: url("../images/main_image.jpg");
}
.image-section-1-text-span, .image-section-2-text-span {
  transition: $span-transition;
}
.image-section-3-text-span, .image-section-4-text-span {
  color: map-get($colors, cWhite);
  transition: $span-transition;
}
.image-section-2 {
  height: 500px;
  background-image: url("../images/second_image.jpg");
}
.image-section-3 {
  height: 500px;
  background-image: url("../images/afrooz_failure_3.jpg");
}
.image-section-4 {
  height: 650px;
  background-image: url("../images/last_image_2.jpg");
}
.image-section-4-text:hover, .image-section-3-text:hover,
.image-section-2-text:hover, .image-section-1-text:hover {
  background-color: rgb(42, 42, 42);
  border:{
    bottom: 7px solid map-get($colors, cRed);;
    radius: 15px;
  }
}
.image-section-4-text-span:hover, .image-section-3-text-span:hover,
.image-section-2-text-span:hover, .image-section-1-text-span:hover {
  color: map-get($colors, cBlue);;
  font-size: 44px;
}

